.main-board{
    /* height: 500px; */
    width: 615px;
    border: 2px solid red;
    /* size: 200%; */

    /* background-color: black; */
    
}
.board-row{
    display: flex;
    
}
.square img {
  width: 75%;
  height: 100%;
  object-fit: contain;
}

/* This is the new magic rule */
.white-piece {
  filter: invert(1);
}

.selected {
  background-color: yellow !important;
}